&lt;div class=&quot;form-actions form-wrapper&quot; id=&quot;edit-actions&quot;&gt;
  &lt;input type=&quot;submit&quot; id=&quot;edit-submit&quot; name=&quot;op&quot; value=&quot;{{text}}&quot; class=&quot;form-submit&quot;&gt;
&lt;/div&gt;
