&lt;div class=&quot;text&quot;&gt;
	&lt;p&gt;&lt;a href=&quot;#&quot;&gt;This is a text link&lt;/a&gt;&lt;/p&gt;

	&lt;p&gt;&lt;strong&gt;Strong is used to indicate strong importance&lt;/strong&gt;&lt;/p&gt;

	&lt;p&gt;&lt;em&gt;This text has added emphasis&lt;/em&gt;&lt;/p&gt;
	
&lt;/div&gt;&lt;!--end .text--&gt;
