&lt;table class=&quot;sg-font-sizes&quot;&gt;
  &lt;thead&gt;
  &lt;tr&gt;
    &lt;th&gt;Name&lt;/th&gt;
    &lt;th&gt;Example&lt;/th&gt;
  &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
  {{#fontSizes}}
    &lt;tr class=&quot;sg-font-size&quot;&gt;
      &lt;td&gt;&lt;code&gt;{{name}}&lt;/code&gt; at {{value}}&lt;/td&gt;
      &lt;td style=&quot;font-size: {{value}};&quot;&gt;Lorem ipsum dolor sit amet.&lt;/td&gt;
    &lt;/tr&gt;
  {{/fontSizes}}
  &lt;/tbody&gt;
&lt;/table&gt;
