&lt;div class=&quot;form-item form-type-checkbox form-item-checkbox&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;edit-checkbox&quot; name=&quot;checkbox&quot; value=&quot;1&quot; checked=&quot;checked&quot; class=&quot;form-checkbox&quot;&gt; &lt;label
    class=&quot;option&quot; for=&quot;edit-checkbox&quot;&gt;Checkbox &lt;/label&gt;

  &lt;div class=&quot;description&quot;&gt;Nullam hendrerit, justo et iaculis tristique, ligula risus pretium erat, sed tempus lacus
    felis ut nulla.
  &lt;/div&gt;
&lt;/div&gt;
