&lt;div class=&quot;form-item form-type-select form-item-select&quot;&gt;
  &lt;label for=&quot;edit-select&quot;&gt;Select &lt;/label&gt;
  &lt;select id=&quot;edit-select&quot; name=&quot;select&quot; class=&quot;form-select&quot;&gt;
    &lt;option value=&quot;Nam tincidunt duis&quot;&gt;Nam tincidunt duis&lt;/option&gt;
    &lt;option value=&quot;Aliquam lorem neque&quot;&gt;Aliquam lorem neque&lt;/option&gt;
    &lt;option value=&quot;Duis lobortis egestas&quot;&gt;Duis lobortis egestas&lt;/option&gt;
    &lt;option value=&quot;Lacinia ac cras&quot;&gt;Lacinia ac cras&lt;/option&gt;
    &lt;option value=&quot;Mi dignissim viverra&quot;&gt;Mi dignissim viverra&lt;/option&gt;
  &lt;/select&gt;
  &lt;div class=&quot;description&quot;&gt;Curabitur quis nunc nibh.&lt;/div&gt;
&lt;/div&gt;
