&lt;ul class=&quot;sg-colors&quot;&gt;
  {{#colors}}
    &lt;li&gt;
      &lt;div class=&quot;sg-swatch&quot; style=&quot;background: {{value}};&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;sg-info&quot;&gt;
        &lt;code&gt;{{value}}&lt;/code&gt; &lt;br/&gt;
        &lt;code&gt;{{name}}&lt;/code&gt;
      &lt;/div&gt;
    &lt;/li&gt;
  {{/colors}}
&lt;/ul&gt;
