&lt;div class=&quot;form-item form-type-textfield form-item-textfield&quot;&gt;
  &lt;label for=&quot;edit-textfield&quot;&gt;Textfield &lt;/label&gt;
  &lt;input type=&quot;text&quot; id=&quot;edit-textfield&quot; name=&quot;textfield&quot; placeholder=&quot;Elementum massa vestibulum&quot; class=&quot;form-text&quot;&gt;

  &lt;div class=&quot;description&quot;&gt;Aenean quis leo sit amet tellus tempus cursus.&lt;/div&gt;
&lt;/div&gt;
