&lt;div class=&quot;form-item form-type-textfield&quot;&gt;
  &lt;label class=&quot;element-invisible&quot;&gt;{{text}}&lt;/label&gt;
  &lt;input type=&quot;text&quot; class=&quot;form-text&quot;&gt;
&lt;/div&gt;